/* 
COLORS
actual color codes from header image
-----------------------------------------------------------------
#D8E9F9 - light, baby blue		// have not used
-----------------------------------------------------------------
#003366 - dark blue
-----------------------------------------------------------------
#3975BE; - reg. blue
-----------------------------------------------------------------

#002549; - footer bottom color

*/






/* ----------------------------------------------------------------
				BASIC FORMATING
------------------------------------------------------------------*/

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Cn';
}

html {
    font-size: 16px;
    color: black;
}


h1 {
	font-size: 3.7vw;
	color: white;
	text-shadow: 3px 3px 3px #002549;
	
}


h2 {
    font-size: 2.7rem;
    color: #3975BE;
    padding-top: 15px;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.3rem;
    color: #003366;
}


h4 {
    font-size: 2rem;
    margin:0;
    padding:0;
    color: black;
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3.5rem;
    color: #3975BE;
    text-decoration: underline;
    text-align: center;

}


p {
	font-size: 1.1rem;
    margin:0;
    padding:0;
    color: black;
}


.homepagesub {
	font-size: 1.5rem;
	color: white;
	text-shadow: 3px 3px 3px #002549;
	text-align: center;
}

#message {
	background-color: #3975BE;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

/*.searchbar {

	text-transform: uppercase;
	background-color: #003366;

}
*/


/* ----------------------------------------------------------------
				LANDING PAGE BUTTONS
------------------------------------------------------------------*/

.btn-success {
  color: #fff;
  background-color: #3975BE;
  border-color: #3975BE;
  cursor: pointer;
}

.btn-success:hover {
  color: #fff;
  background-color: #003366;
  border-color: #003366;
}


a.btn.btn-success {
  color: #fff;
}

a.btn.btn-success:hover {
  color: #fff;
  cursor: pointer;
}


/* ----------------------------------------------------------------
				LOGO & TOP NAVIGATION BAR
------------------------------------------------------------------*/

#logo {
	color:#003366;
	font-family: 'Inconsolata';
	text-transform: uppercase;
	padding: 10px;
	letter-spacing: 1px;
}


/* changes font of nav links */
a.nav-item {
	font-size: 1rem;
}


.nav-link:hover {
	background-color: #eee;
	cursor: pointer;
}

.navbar-brand:hover {
	background-color: #eee;
}




/* ----------------------------------------------------------------
				REGISTER / LOGIN MODAL
------------------------------------------------------------------*/

.login-box {
	border-radius: 5px;
	background-color: #ededed;
	border: 1px solid #dddddd;
	padding: 20px;
}

.modal-body {
	padding: 25px;
}

.modal-title {
	padding-left: 15px;
}


#register {
	text-align: right;
	position: relative;
	float: right;
}

/*-----Register Now! button on modal (green)-----*/
.btn-info {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-info:hover {
  color: #fff;
  background-color: #25843a;
  border-color: #25843a;
}

#free {
	text-decoration: underline;
}

.text-success {
	letter-spacing: 2px;
}




/* ----------------------------------------------------------------
							HOMEPAGE
------------------------------------------------------------------*/
.header-image {
	z-index: -1;
	width: 100%;
}

.navbar-nav > a {
	margin-left: 15px;
}

.index-wrapper {
	position: relative;
}

.searchfield {
	width: 60%;
	position: absolute;
	z-index: 1;
	right: 20%;
	top: 10vw;
}


.reason {
	padding: 10px;
	text-align: middle;
	text-align: center;
}


#reason-link {
	color: #3975BE;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: underline;
	top-margin: 20px;
	display: inline-block;
	padding-top: 10px;
}


#frontpage-images {
	padding-bottom: 10px;
}

#piechart {
	padding-bottom: 10px;
}



/* ----------------------------------------------------------------
				PIE CHARTS RESULTS PAGE
------------------------------------------------------------------*/
.pie-wrapper {
	margin: 0 auto;
	width: 100%;
}

.form-control {
	margin-bottom: 10px; 
}

.form-wrapper {
	background: #ededed;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #dddddd;
}

.hardwell {
	height: 70vh;
}

.heading-hardwell {
	margin-top: 10%;
}

#hardwell {
	border: 1px solid white;
	display: inline-block;
	margin-left: 10px;

}

#hardwell:hover {
	background-color: #D8E9F9;
	color: #003366;
	cursor: pointer;
}

/* ----------------------------------------------------------------
					RESULTS PAGE
------------------------------------------------------------------*/


/*------------LEFT SIDE - RESULTS & PIE CHART------------*/


.results-heading {
	font-size: 3.5rem;
	margin-bottom: 10px;
}


#positive {
	color: green;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#negative {
	color: red;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#neutral {
	color: orange;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}



/*------------RIGHT SIDE - TWEETS------------*/

.tweet-wrapper {
	width: 100%;
	height: 500px;
	overflow: auto;
	border: 2px solid #eee;
	margin-top: 100px;
}

.tweet {
	background-color: #eee;
	margin: 20px;
	padding: 5px;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	font-size: 0.8rem;
	color: grey;
	margin: 0;
	padding: 0;
}

.tweets-analyzed {
	text-align: center;
	margin: 25px;
}



/* ----------------------------------------------------------------
					ABOUT PAGE
------------------------------------------------------------------*/
.about-main-text {
	width: 60%;
	position: absolute;
	z-index: 1;
	right: 20%;
	top: 10vw;
	text-align: center;
}

.about-us-text {
	font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}



#nova {
	position: relative;
	right: 15%;
	bottom: 50px;

}

#alea {
	position: relative;
	left: 15%;
	bottom: 50px;
}


.about-down {
	margin-top: 17vw;
}

.about-us {
	text-align: center;
	width: 100%;
	height: 350px;
	padding: 20px;
}

#bgabout {
	background-color: #eee;
}

.our-pictures img {
	width: 100px;
	height: auto;
	max-width: 600px;
}


/*.bg-1 { 
	background-color: blue;
	height: 250px;
}

.bg-2 { 
	background-color: #eee;
	color: black;
}*/

/*


#nova {
	float: left;
	position: relative;
}

#alea {
	float: right;
	position: relative;
}*/


/*.about-parent {
	width: 100%;
	height: auto;
	display: inline-block;
	display: flex;
}

.about {
	padding-top: 2%;
	text-align: center;
	padding-left: 5%;
	line-height: 60%;
	overflow: scroll;
}


.nova {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	width: 45%;
	height: auto;
	margin: 2%;
	overflow: scroll;
	background-color: #eee;
	color: black;
}

.alea {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	width: 45%;
	height: auto;
	margin: 2%;
	overflow: scroll;
	background-color: #eee;
	color: black;
}
*/




/* ----------------------------------------------------------------
					CONTACT PAGE
------------------------------------------------------------------*/
.contact-parent {
	width: 100%;
	height: auto;
}

.googlemaps {
	display: inline-block;
	position: relative;
	width: 60%;
	height: auto;
	margin: 2%;
}

.contact-info {
	display: inline-block;
	position: absolute;
	width: 30%;
	height: auto;
	margin: 2%;
	text-align: left;
}






/* ----------------------------------------------------------------
					FAQ PAGE
------------------------------------------------------------------*/
button.accordion {
	/*position*/
	width: 100%;
    padding: 18px;
    margin: 5px;
    text-align: left;
    /*style*/
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #eee;
    /*color: #444;*/
    font-size: 1.2rem;
    /*animation*/
    transition: 0.8s;
    color: #003366;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc; 
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.emoji {
	display: inline-block;
	padding-left: 15px;
	font-size: 1.2rem;
}








/* ---------------------------------------------------------------------------
				FOOTER
------------------------------------------------------------------------------*/

.footer-wrapper {
	background-color: #002549;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 4%;
}

.footer-bottom {
	text-align: center;
	padding: 10px;
	background-color: #002549;

}

.footerFont {
	color: white;
}

@media (max-width: 600px) { 
	h1 {
		font-size: 1.5rem;
	} 
}

@media (min-width: 1199px) { 
	h1 {
		font-size: 3rem;
	} 
}

