/* 
COLORS
actual color codes from header image
------------------------------------------------------------------------
#D8E9F9 - light, baby blue		// have not used
------------------------------------------------------------------------
#003366 - dark blue
------------------------------------------------------------------------
#3975BE; - reg. blue


FONTS
------------------------------------------------------------------------
font-family: 'Social Shapes';	// social media icons
------------------------------------------------------------------------
font-family: 'Roboto Cn';		// Roboto Condensed Normal (sans serif)
font-weight: normal;
font-style: normal;
-----------------------------------------------------------------------
font-family: 'Roboto Lt';		// Roboto Regular Bold (sans serif)
font-weight: 500;
font-style: normal;
-----------------------------------------------------------------------
font-family: 'Chapaza';			// Chapaza Regular (serif)
-----------------------------------------------------------------------
font-family: 'Chapaza';			// Chapaza Italic (serif)
font-style: italic;
------------------------------------------------------------------------
font-family: 'Baby blocks';		// weird as hell
------------------------------------------------------------------------
font-family: 'Inconsolata';		// Inconsolata (monospaced)
font-weight: 500;
font-style: normal;
------------------------------------------------------------------------
font-family: 'Bebas Kai';		// Bebas Kai (sans serif)
------------------------------------------------------------------------
*/






/* ---------------------------------------------------------------------------
				BASIC FORMATING
------------------------------------------------------------------------------*/


/*-----If we change ALL of the fonts to be our "base" font, then
it will override Bootstrap's default font---------------------*/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Cn';
}

html {
    font-size: 16px;
    color: black;
}


h1 {
	font-size: 3rem;
	color: white;
	text-shadow: 2px 2px 2px #003366;
}

h2 {
    font-size: 2.7rem;
    color: #3975BE;
    padding-top: 15px;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.3rem;
    color: #003366;
}


h4 {
    font-size: 2rem;
    margin:0;
    padding:0;
    color: black;
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3.5rem;
    color: #3975BE;
    text-decoration: underline;
    text-align: center;

}


p {
	font-size: 1rem;
    margin:0;
    padding:0;
    color: black;
}





/* ---------------------------------------------------------------------------
				BOOTSTRAP THINGS I WANT TO CHANGE
------------------------------------------------------------------------------*/


/*-----HOMEPAGE BUTTONS----------------------------------------*/

/*  HOW TO CHANGE "SIGN IN" BUTTON AND "SEARCH" BUTTON
ON THE HOME PAGE! can change color, background, size, font  */
.btn-success {
  color: #fff;
  background-color: #3975BE;
  border-color: #3975BE;
  cursor: pointer;
}

.btn-success:hover {
  color: #fff;
  background-color: #003366;
  border-color: #003366;
}


a.btn.btn-success {
  color: #fff;
}

a.btn.btn-success:hover {
  color: #fff;
  cursor: pointer;
}
/*------------------------------------------------------------*/




/*-----LOGO & TOP NAV BAR--------------------------------------*/



/* #logo is everything you need to change "emoji analysis". I put
a background on it and changed some other things to show what's
possible.  */

#logo {
	color:#003366;
	font-family: 'Inconsolata';
	text-transform: uppercase;
	padding: 10px;
	letter-spacing: 1px;
}

/* changes font of nav links */
a.nav-item {
	font-size: 1rem;
}


.nav-link:hover {
	background-color: #eee;
	cursor: pointer;
}

.navbar-brand:hover {
	background-color: #eee;
}


/*-----Register Now! button on modal (green)-----*/


.btn-info {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-info:hover {
  color: #fff;
  background-color: #25843a;
  border-color: #25843a;
}

#free {
	text-decoration: underline;
}

.text-success {
	letter-spacing: 2px;
}







/* ---------------------------------------------------------------------------
				HOMEPAGE
------------------------------------------------------------------------------*/
.header-image {
	z-index: -1;
	width: 100%;
}

.navbar-nav > a {
	margin-left: 15px;
}

.index-wrapper {
	position: relative;
}

.searchfield {
	width: 60%;
	position: absolute;
	z-index: 1;
	right: 20%;
	top: 17vw;
}


.reason {
	padding: 10px;
	text-align: middle;
	background-color: #eee;
}


#reason-link {
	color: #003366;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	display: inline-block;
}






/* ---------------------------------------------------------------------------
				PIE CHART ON RESULTS PAGE
------------------------------------------------------------------------------*/
.pie-wrapper {
	margin: 0 auto;
	width: 100%;
}

.form-control {
	margin-bottom: 10px; 
}

.form-wrapper {
	background: #ededed;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #dddddd;
}




/* ---------------------------------------------------------------------------
				RESULTS PAGE
------------------------------------------------------------------------------*/



/*  LEFT SIDE - RESULTS & PIE CHART */

.results {
	text-align: left;
}

.percent-results {
	text-align: center;
}

#positive {
	color: green;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#negative {
	color: red;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#neutral {
	color: orange;
	font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}



/*  RIGHT SIDE - TWEETS  */

.tweet-wrapper {
	width: 100%;
	height: 500px;
	overflow: auto;
	border: 2px solid #eee;
}

.tweet {
	background-color: #eee;
	margin: 20px;
	padding: 5px;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	font-size: 0.8rem;
	color: grey;
	margin: 0;
	padding: 0;
}



/* end of RESULTS page */






/* ---------------------------------------------------------------------------
				ABOUT PAGE
------------------------------------------------------------------------------*/

.about-parent {
	width: 100%;
	height: auto;
	display: inline-block;
	display: flex;
}

.about {
	padding-top: 2%;
	text-align: center;
	padding-left: 5%;
	line-height: 60%;
	overflow: scroll;
}


.nova {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	width: 45%;
	height: auto;
	margin: 2%;
	overflow: scroll;
	background-color: #eee;
	color: black;
}

.alea {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	width: 45%;
	height: auto;
	margin: 2%;
	overflow: scroll;
	background-color: #eee;
	color: black;
}

/* end of ABOUT page */





/* ---------------------------------------------------------------------------
					CONTACT PAGE
------------------------------------------------------------------------------*/
.contact-parent {
	width: 100%;
	height: auto;
}

.googlemaps {
	display: inline-block;
	position: relative;
	width: 60%;
	height: auto;
	margin: 2%;
}

.contact-info {
	display: inline-block;
	position: absolute;
	width: 30%;
	height: auto;
	margin: 2%;
	text-align: left;
}

/* end of CONTACT page */








/* ---------------------------------------------------------------------------
				FAQ PAGE
------------------------------------------------------------------------------*/

button.accordion {
	/*position*/
	width: 100%;
    padding: 18px;
    margin: 5px;
    text-align: left;
    /*style*/
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #eee;
    /*color: #444;*/
    font-size: 1.2rem;
    /*animation*/
    transition: 0.8s;
    color: #003366;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc; 
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.emoji {
	display: inline-block;
	padding-left: 15px;
	font-size: 1.2rem;
}






/* ---------------------------------------------------------------------------
				LOGIN MODAL
------------------------------------------------------------------------------*/

.login-box {
	border-radius: 5px;
	background-color: #ededed;
	border: 1px solid #dddddd;
	padding: 20px;
}

.modal-body {
	padding: 25px;
}

.modal-title {
	padding-left: 15px;
}


#register {
	text-align: right;
	position: relative;
	float: right;
}




/* ---------------------------------------------------------------------------
				FOOTER
------------------------------------------------------------------------------*/

