extends layout

block content
	div.container
		div.col-12.col-sm-12
			div.row
				div.content
					div.question
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas quae consequuntur iusto, labore impedit, voluptatum mollitia, nam at fugit architecto odio alias optio qui exercitationem, repudiandae eos. Possimus voluptates at veniam pariatur velit suscipit, quasi iste dolor vitae sint eos quam excepturi, architecto sapiente ea minus mollitia! Recusandae libero numquam nisi molestiae quasi voluptatem, sapiente esse dolorum odit minus saepe dolores placeat ab, eos similique, sequi. Repellendus minima, magni delectus corrupti incidunt repellat quam at impedit recusandae. Vitae in doloribus quia asperiores, repudiandae at officiis esse adipisci voluptatem, libero.
					div.question
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas quae consequuntur iusto, labore impedit, voluptatum mollitia, nam at fugit architecto odio alias optio qui exercitationem, repudiandae eos. Possimus voluptates at veniam pariatur velit suscipit, quasi iste dolor vitae sint eos quam excepturi, architecto sapiente ea minus mollitia! Recusandae libero numquam nisi molestiae quasi voluptatem, sapiente esse dolorum odit minus saepe dolores placeat ab, eos similique, sequi. Repellendus minima, magni delectus corrupti incidunt repellat quam at impedit recusandae. Vitae in doloribus quia asperiores, repudiandae at officiis esse adipisci voluptatem, libero.
					div.question
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas quae consequuntur iusto, labore impedit, voluptatum mollitia, nam at fugit architecto odio alias optio qui exercitationem, repudiandae eos. Possimus voluptates at veniam pariatur velit suscipit, quasi iste dolor vitae sint eos quam excepturi, architecto sapiente ea minus mollitia! Recusandae libero numquam nisi molestiae quasi voluptatem, sapiente esse dolorum odit minus saepe dolores placeat ab, eos similique, sequi. Repellendus minima, magni delectus corrupti incidunt repellat quam at impedit recusandae. Vitae in doloribus quia asperiores, repudiandae at officiis esse adipisci voluptatem, libero.

	