extends layout

block content
	div.col-12.col-sm-12
		div.row
			div.index-wrapper
				img.header-image(src="/images/header-image-v2.png" alt="header-image")
				div.container
					div.searchfield
						form(action="/searches/search" method="post" autocomplete="off")
								h1.text-center Search your tweets herrrrrrr
								br
								div.form-group
									div.input-group
										input.form-control(type="text" name="q" placeholder="e.g. #Donaldtrump" required)
										span.input-group-btn
											button.btn.btn-success(type="submit") Search
	div.container
		br
		h2.text-center Why you should use this tool
			br
			br
			div.row
				div.col-12.col-sm-12.col-md-4.col-lg-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eveniet, quibusdam, dicta dolor ab ipsa at modi necessitatibus maiores odit tenetur! Ipsum suscipit corrupti, aut quibusdam, eligendi iusto porro maxime libero, placeat dolorem modi tempore esse harum deserunt voluptas rerum earum nesciunt. Cupiditate in explicabo commodi nostrum nam dolores, nemo ipsam, esse qui voluptate praesentium cumque quis maxime, ut eveniet eius, non ab ex tempore quod omnis? Molestiae adipisci saepe ipsum sint cumque, facere laboriosam repudiandae aspernatur quasi ipsa doloremque similique, tempora recusandae aut dignissimos totam nulla. Ullam cupiditate, distinctio.
				div.col-12.col-sm-12.col-md-4.col-lg-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eveniet, quibusdam, dicta dolor ab ipsa at modi necessitatibus maiores odit tenetur! Ipsum suscipit corrupti, aut quibusdam, eligendi iusto porro maxime libero, placeat dolorem modi tempore esse harum deserunt voluptas rerum earum nesciunt. Cupiditate in explicabo commodi nostrum nam dolores, nemo ipsam, esse qui voluptate praesentium cumque quis maxime, ut eveniet eius, non ab ex tempore quod omnis? Molestiae adipisci saepe ipsum sint cumque, facere laboriosam repudiandae aspernatur quasi ipsa doloremque similique, tempora recusandae aut dignissimos totam nulla. Ullam cupiditate, distinctio.
				div.col-12.col-sm-12.col-md-4.col-lg-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eveniet, quibusdam, dicta dolor ab ipsa at modi necessitatibus maiores odit tenetur! Ipsum suscipit corrupti, aut quibusdam, eligendi iusto porro maxime libero, placeat dolorem modi tempore esse harum deserunt voluptas rerum earum nesciunt. Cupiditate in explicabo commodi nostrum nam dolores, nemo ipsam, esse qui voluptate praesentium cumque quis maxime, ut eveniet eius, non ab ex tempore quod omnis? Molestiae adipisci saepe ipsum sint cumque, facere laboriosam repudiandae aspernatur quasi ipsa doloremque similique, tempora recusandae aut dignissimos totam nulla. Ullam cupiditate, distinctio.
