div#login-overlay.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
	div.modal-dialog.modal-lg(role='document')
		div.modal-content
			
			div.modal-header
					h4.modal-title Login to Emoji Analysis
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×

			
			div.modal-body
				div.row
					div.col-sm-12.col-md-6
						div.login-box
							form.form(action="/users/login" method="post" role="form")
								label(for="email") 
									strong Email Address:
								input#emailfield.form-control(name="email" placeholder="example@gmail.com" type="email" required)
								p#emailError
								label(for="password")
									strong Password: 
								input#passwordfield.form-control(name="password" type="password" aria-describedby="passwordInfo" required)
								p#passwordError
								br
								button#login-btn.btn.btn-lg.btn-primary.btn-block(type="submit") Sign In
					div.col-sm-12.col-md-6
						divs
							h4.text-center Not registered yet?
							h5.text-center Sign up now for 
								span.text-success#free FREE
							br
							ul.list-unstyled(style='line-height: 2')
								li
									p.text-success ✅ Enjoy unlimited hashtag searches
								li
									p.text-success ✅ Powerful data at your fingertips
								li
									p.text-success ✅ No annoying emails!
							p
								a.btn.btn-info.btn-block(href='/users/register') Register Now!