div#login-overlay.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
	div.modal-dialog.modal-lg(role='document')
		div.modal-content
			
			div.modal-header
					h4.modal-title Sign in
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
			
			div.modal-body
				div.row
					div.col-sm-12.col-md-6
						div.login-box
							form.form(action="/users/login" method="post" role="form")
								label(for="email") 
									strong Fill in your emailaddress:
								input#emailfield.form-control(name="email" placeholder="example@gmail.com" type="email" required)
								p#emailError
								label(for="password")
									strong Password: 
								input#passwordfield.form-control(name="password" type="password" aria-describedby="passwordInfo" required)
								p#passwordError
								br
								button#login-btn.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up
					div.col-sm-12.col-md-6
						divs
							p.lead Or register now for 
								span.text-success FREE
							br
							ul.list-unstyled(style='line-height: 2')
								li
									p.text-success Returns are free
								li
									p.text-success Fast re-order
								li
									p.text-success Save your favorites
								li
									p.text-success Fast checkout
								li
									a(href='/faq')
										u Read more
							p
								a.btn.btn-info.btn-block(href='/users/register') Yes please, register now!